@{
    ViewData["Title"] = "Quản lí tài khoản";
    ViewData["Sitemap"] = "Quản lí tài khoản - Quản trị hệ thống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <environment include="Development">
        <script src="~/js/management/user/usermanagement.js" asp-append-version="true"></script>
        <script src="~/js/management/user/usermanagementhandle.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/management/user/usermanagement.min.js" asp-append-version="true"></script>
        <script src="~/js/management/user/usermanagementhandle.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="main-control bg-white ">
    <div class="button-function form-inline">
        <button class="btn btn-sm btn-primary mr-2" data-target="#modal-create-user-form" data-toggle="modal"><i class="fa fa-plus"></i> Thêm tài khoản</button>
        <form id="search-filter-form">
            <div class="input-group input-group-sm" style="        width: 300px">
                <input type="text" id="search-filter" name="searchFilter" class="form-control" placeholder="Tên đăng nhập hoặc tên hiển thị">
                <div class="input-group-append">
                    <button tr-tooltip="Tìm kiếm" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="main-content">
    <div id="content-data"></div>
</div>
<div class="modal fade" id="modal-create-user-form" data-backdrop="static" data-keyboard="false">
    <div class="transition-smooth modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white text-center font-weight-bold pt-2 pb-2">
                Quản lí tài khoản
                <a class="text-white float-right mouse-pointer toggle-lg-modal"><i class="far fa-expand-arrows"></i></a>
            </div>
            <div class="modal-body">
                <form id="user-form">
                    <div class="form-row mb-2">
                        <div class="col-sm-5 text-center ">
                            <img src="/images/none-avatar.png" style="border-radius: 140px; width: 140px; height: 140px;">
                        </div>
                        <div class="col-sm-7">
                            <div class="form-row mb-2">
                                <span>Tên đăng nhập:</span>
                                <input type="text" id="username" class="form-control form-control-sm" />
                                <input type="hidden" id="user-id" />
                            </div>
                            <div class="form-row mb-2">
                                <span>Tên hiển thị:</span>
                                <input type="text" id="display-name" class="form-control form-control-sm" />
                            </div>
                            <div class="form-row">
                                <span>Trạng thái:&nbsp;&nbsp;&nbsp;</span>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="ActiveStatusTrue" name="active-status" class="custom-control-input" value="true" checked>
                                    <label class="custom-control-label" for="ActiveStatusTrue">Hoạt động</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="ActiveStatusFalse" name="active-status" class="custom-control-input" value="false">
                                    <label class="custom-control-label" for="ActiveStatusFalse">Khóa</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <span>Mật khẩu:</span>
                        <input type="password" id="password" class="form-control form-control-sm" />
                    </div>
                    <div class="form-row mb-2">
                        <span>Nhập lại mật khẩu:</span>
                        <input type="password" id="re-password" class="form-control form-control-sm" />
                    </div>
                    <div class="form-row mb-2">
                        <span>Đơn vị:</span>
                        <select id="department" class="form-control form-control-sm" asp-items="@ViewData["DepartmentList"] as SelectList"></select>
                    </div>
                    <div class="form-row mb-2">
                        <span>Quyền hạn:</span>
                        <select id="role" class="form-control form-control-sm" asp-items="@ViewData["RoleList"] as SelectList"></select>
                    </div>
                    <div class="form-row mb-2">
                        <span>Ghi chú:</span>
                        <textarea id="note" rows="3" class="form-control form-control-sm"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer p-2">
                <span id="loading-form" class="text-primary font-weight-bold"><i style="        font-size: 20px" class="fas fa-circle-notch fa-spin fa-fw"></i> Đang cập nhật</span>
                <button class="btn btn-sm btn-secondary" id="reset-form"><i class="fa fa-sync-alt"></i> Reset form</button>
                <button class="btn btn-sm btn-danger" id="hide-form" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
                <button class="btn btn-sm btn-primary" id="submit-form"><i class="fa fa-plus"></i> Thêm</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-update-user-form" data-backdrop="static" data-keyboard="false">
    <div class="transition-smooth modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white text-center font-weight-bold pt-2 pb-2">
                Cập nhật tài khoản
                <a class="text-white float-right mouse-pointer toggle-lg-modal"><i class="far fa-expand-arrows"></i></a>
            </div>
            <div class="modal-body">
                <form id="user-form-update">
                    <div class="form-row mb-2">
                        <div class="col-sm-5 text-center ">
                            <img src="/images/none-avatar.png" style="border-radius: 140px; width: 140px; height: 140px;">
                        </div>
                        <div class="col-sm-7">
                            <div class="form-row mb-2">
                                <span>Tên đăng nhập:</span>
                                <input type="text" id="username-update" class="form-control form-control-sm" />
                            </div>
                            <div class="form-row mb-2">
                                <span>Tên hiển thị:</span>
                                <input type="text" id="display-name-update" class="form-control form-control-sm" />
                            </div>
                            <div class="form-row">
                                <span>Trạng thái:&nbsp;&nbsp;&nbsp;</span>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="ActiveStatusTrueUpdate" name="active-status-update" class="custom-control-input" value="true" checked>
                                    <label class="custom-control-label" for="ActiveStatusTrueUpdate">Hoạt động</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="ActiveStatusFalseUpdate" name="active-status-update" class="custom-control-input" value="false">
                                    <label class="custom-control-label" for="ActiveStatusFalseUpdate">Khóa</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <span>Đơn vị:</span>
                        <select id="department-update" class="form-control form-control-sm" asp-items="@ViewData["DepartmentList"] as SelectList"></select>
                    </div>
                    <div class="form-row mb-2">
                        <span>Quyền hạn:</span>
                        <select id="role-update" class="form-control form-control-sm" asp-items="@ViewData["RoleList"] as SelectList"></select>
                    </div>
                    <div class="form-row mb-2">
                        <span>Ghi chú:</span>
                        <textarea id="note-update" rows="3" class="form-control form-control-sm"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer p-2">
                <span id="loading-update-form" class="text-primary font-weight-bold"><i style="        font-size: 20px" class="fas fa-circle-notch fa-spin fa-fw"></i> Đang cập nhật</span>
                <button class="btn btn-sm btn-secondary" id="reset-update-form"><i class="fa fa-sync-alt"></i> Reset form</button>
                <button class="btn btn-sm btn-danger" id="hide-update-form" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
                <button class="btn btn-sm btn-primary" id="submit-update-form"><i class="fa fa-check"></i> Cập nhật</button>
            </div>
        </div>
    </div>
</div>