@{
    ViewData["Title"] = "Quản lí phương pháp thử nghiệm";
    ViewData["Sitemap"] = "Quản lí phương pháp thử nghiệm - Quản trị hệ thống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <environment include="Development">
        <script src="~/js/management/testmethod/testmethodmanagement.js" asp-append-version="true"></script>
        <script src="~/js/management/testmethod/testmethodmanagementhandle.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/management/testmethod/testmethodmanagement.min.js" asp-append-version="true"></script>
        <script src="~/js/management/testmethod/testmethodmanagementhandle.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="main-control bg-white ">
    <div class="button-function form-inline">
        <button class="btn btn-sm btn-primary mr-2" data-target="#modal-handle-form" data-toggle="modal"><i class="fa fa-plus"></i> Thêm</button>
        <form id="search-filter-form">
            <div class="input-group input-group-sm" style="        width: 300px">
                <input type="text" id="search-filter" name="searchFilter" class="form-control" placeholder="Tên phương pháp, tên chỉ tiêu">
                <div class="input-group-append">
                    <button t-tooltip="Tìm kiếm" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="main-content">
    <div id="content-data"></div>
</div>
<div class="modal fade" id="modal-handle-form" data-backdrop="static" data-keyboard="false">
    <div class="transition-smooth modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white text-center font-weight-bold pt-2 pb-2">
                Quản lí phương pháp
                <a class="text-white float-right mouse-pointer toggle-lg-modal"><i class="far fa-expand-arrows"></i></a>
            </div>
            <div class="modal-body">
                <form id="data-form">
                    <div class="form-row mb-2">
                        <span>Thuộc đối tượng:</span>
                        <select id="method-object" class="form-control form-control-sm" asp-items="@ViewData["CTGTestObject"] as SelectList"></select>
                    </div>
                    <div class="form-row mb-2">
                        <span>Thuộc chỉ tiêu:</span>
                        <select id="method-property" class="form-control form-control-sm"></select>
                    </div>
                    <div class="form-row mb-2">
                        <span>Tên phương pháp:</span>
                        <input type="text" id="method-name" class="form-control form-control-sm" />
                    </div>
                    <div class="form-row mb-2">
                        <span>Ký hiệu đính kèm:</span>
                        <input type="text" id="method-symbol" class="form-control form-control-sm" />
                    </div>

                    <div class="form-row mb-2">
                        <span>Ghi chú:</span>
                        <textarea type="text" id="method-note" class="form-control form-control-sm" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer p-2">
                <span id="loading-form" class="text-primary font-weight-bold"><i style="        font-size: 20px" class="fas fa-circle-notch fa-spin fa-fw"></i> Đang cập nhật</span>
                <button class="btn btn-sm btn-danger" id="hide-form" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
                <button class="btn btn-sm btn-primary" id="submit-form"><i class="fa fa-plus"></i> Thêm</button>
                <button onclick="updateMethod(this)" class="btn btn-sm btn-primary" id="update-form"><i class="fa fa-check"></i> Cập nhật</button>
            </div>
        </div>
    </div>
</div>