@{
    Layout = null;
}

<section class="left-control bg-white box-shadow">
    <ul class="control-item">
        <li class="item">
            <a href="/home"><i class="fa fa-home"></i><span>Trang chủ</span></a>
        </li>
        <li class="item ">
            <a href="/reception-department"><i class="fa fa-paste"></i><span>Bộ phận tiếp nhận</span></a>
        </li>
        <li class="item item-tree">
            <a href="#" title="Bộ phận thử nghiệm"><i class="fa fa-flask"></i><span>Bộ phận thử nghiệm</span></a>
            <ul>
                <li>
                    <a href="/test-department/manager"><i class="fa fa-tasks-alt"></i>Phòng quản lí</a>
                </li>
                <li>
                    <a href="/test-department/engineer"><i class="fa fa-user-chart"></i>Phòng kỹ thuật</a>
                </li>
            </ul>
        </li>
        @*<li class="item item-tree">
            <a class="item" href="#"><i class="fa fa-sliders-h"></i><span>Bộ phận hiệu chuẩn</span></a>
            <ul>
                <li>
                    <a href="/calibration-department/manager"><i class="fa fa-tasks-alt"></i>Phòng quản lí</a>
                </li>
                <li>
                    <a href="/calibration-department/engineer"><i class="fa fa-user-chart"></i>Phòng kỹ thuật</a>
                </li>
            </ul>
        </li>*@
        @*<li class="item ">
            <a href="/statistic"><i class="fa fa-chart-line"></i><span>Báo cáo thống kê</span></a>
        </li>*@
        <li class="item item-tree">
            <a class="item" href="#"><i class="fa fa-cog"></i><span>Quản trị hệ thống</span></a>
            <ul>
                <li>
                    <a href="/system-management/user"><i class="fa fa-users-cog"></i>Tài khoản</a>
                </li>
                <li>
                    <a href="/system-management/role"><i class="far fa-user-tag"></i>Quyền người dùng</a>
                </li>
                <li>
                    <a href="/system-management/customer"><i class="far fa-money-check"></i>Khách hàng</a>
                </li>
                <li>
                    <a href="/system-management/field"><i class="fa fa-drafting-compass"></i>Lĩnh vực thử nghiệm</a>
                </li>
                <li>
                    <a href="/system-management/test-object"><i class="fa fa-drafting-compass"></i>Đối tượng thử nghiệm</a>
                </li>
                <li>
                    <a href="/system-management/test-property"><i class="fa fa-drafting-compass"></i>Chỉ tiêu thử nghiệm</a>
                </li>
                <li>
                    <a href="/system-management/test-method"><i class="fa fa-drafting-compass"></i>Phương pháp thử nghiệm</a>
                </li>
            </ul>
        </li>
    </ul>
</section>