@{
    Layout = null;
}
<div class="form-row mb-2">
    <div class="col-3">
        <label class="align-middle font-weight-bold">Khối lượng/thể tích ban đầu:</label>
    </div>
    <div class="col-9">
        <div class="d-inline-block">
            <span>Lần 1 (L1): </span>
            <input id="quantum-l1" type="text" class="input-for-form" style="width: 100px;" />
            <span>g hoặc mL</span>
        </div>
        <div class="d-inline-block">
            <span>; Lần 2 (L2): </span>
            <input id="quantum-l2" type="text" class="input-for-form" style="width: 100px;" />
            <span>g hoặc mL</span>
        </div>
    </div>
</div>
<div class="form-row mb-2">
    <div class="col-12">
        <div class="mb-2">
            <label class="align-middle font-weight-bold">Nồng độ dãy chuẩn:</label>
            <button class="btn btn-sm btn-primary copy-standard-concentration" tl-tooltip="Copy dữ liệu"><i class="fa fa-copy"></i></button>
            <button class="btn btn-sm btn-danger paste-standard-concentration" tl-tooltip="Paste dữ liệu"><i class="fa fa-paste"></i></button>
        </div>
        <table class="table table-sm table-bordered table-light text-center table-standard-concentration">
            <thead>
                <tr>
                    <th><span>C(</span><input id="symbol-c" type="text" class="input-for-form" style="width: 65px" /><span>)</span></th>
                    <th><input id="value-c1" type="text" class="input-for-form" style="width: 65px" /></th>
                    <th><input id="value-c2" type="text" class="input-for-form" style="width: 65px" /></th>
                    <th><input id="value-c3" type="text" class="input-for-form" style="width: 65px" /></th>
                    <th><input id="value-c4" type="text" class="input-for-form" style="width: 65px" /></th>
                    <th><input id="value-c5" type="text" class="input-for-form" style="width: 65px" /></th>
                    <th><input id="value-c6" type="text" class="input-for-form" style="width: 65px" /></th>
                    <th><input id="value-c7" type="text" class="input-for-form" style="width: 65px" /></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>Độ hấp thụ</span></td>
                    <th><input id="absorbance-c1" type="text" class="input-for-form" style="width: 65px" /></th>
                    <th><input id="absorbance-c2" type="text" class="input-for-form" style="width: 65px" /></th>
                    <th><input id="absorbance-c3" type="text" class="input-for-form" style="width: 65px" /></th>
                    <th><input id="absorbance-c4" type="text" class="input-for-form" style="width: 65px" /></th>
                    <th><input id="absorbance-c5" type="text" class="input-for-form" style="width: 65px" /></th>
                    <th><input id="absorbance-c6" type="text" class="input-for-form" style="width: 65px" /></th>
                    <th><input id="absorbance-c7" type="text" class="input-for-form" style="width: 65px" /></th>
                </tr>
            </tbody>
        </table>
        <div class="col-12">
            <div class="d-inline-block">
                <span>Phương trình đường chuẩn: </span><input id="standard-line-equation" type="text" class="input-for-form" style="width: 400px" />
            </div>
            <div class="">
                <span>Hệ số R<sup>2</sup> = </span><input id="coefficient-r2" type="text" class="input-for-form" style="width: 400px" />
            </div>
        </div>
    </div>
</div>
<div class="form-row mb-2">
    <div class="col-3">
        <label class="align-middle font-weight-bold">Nồng độ thêm chuẩn (nếu có):</label>
    </div>
    <div class="col-9">
        <div class="">
            <span>Thêm chuẩn 1 (T<sub>1</sub>): </span><input id="t1" type="text" class="input-for-form" />
        </div>
        <div class="">
            <span>Thêm chuẩn 2 (T<sub>2</sub>): </span><input id="t2" type="text" class="input-for-form" />
        </div>
    </div>
</div>
<div class="form-row mb-2">
    <div class="col-12">
        <label class="align-middle font-weight-bold">Kết quả đo mẫu:</label>
        <table class="table table-sm table-bordered table-light text-center">
            <thead>
                <tr>
                    <th>Kí hiệu</th>
                    <th><span>L<sub>1</sub></span></th>
                    <th><span>L<sub>2</sub></span></th>
                    <th><span>T<sub>1</sub></span></th>
                    <th><span>T<sub>2</sub></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>Kết quả đo</span></td>
                    <td><input id="measurement-results-l1" type="text" class="input-for-form" /></td>
                    <td><input id="measurement-results-l2" type="text" class="input-for-form" /></td>
                    <td><input id="measurement-results-t1" type="text" class="input-for-form" /></td>
                    <td><input id="measurement-results-t2" type="text" class="input-for-form" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-row mb-2">
    <div class="col-12">
        <label class="align-middle font-weight-bold">Hệ số pha loãng (nếu có):</label>
        <table class="table table-sm table-bordered table-light text-center">
            <thead>
                <tr>
                    <th>Tên mẫu (kí hiệu chén/cốc)</th>
                    <th><span>L<sub>1</sub></span></th>
                    <th><span>L<sub>2</sub></span></th>
                    <th><span>T<sub>1</sub></span></th>
                    <th><span>T<sub>2</sub></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>Hệ số pha loãng</span></td>
                    <td><input id="dilution-coefficient-l1" type="text" class="input-for-form" /></td>
                    <td><input id="dilution-coefficient-l2" type="text" class="input-for-form" /></td>
                    <td><input id="dilution-coefficient-t1" type="text" class="input-for-form" /></td>
                    <td><input id="dilution-coefficient-t2" type="text" class="input-for-form" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-row mb-2">
    <div class="col-12">
        <label class="align-middle font-weight-bold">Công thức tính toán:</label>
        <textarea id="calculation-formula" class="form-control form-control-sm"></textarea>
    </div>
</div>
<div class="form-row mb-2">
    <div class="col-12">
        <label class="align-middle font-weight-bold">Độ thu hồi (nếu có):</label>
        <textarea id="percent-of-revoke" class="form-control form-control-sm"></textarea>
    </div>
</div>
<div class="form-row mb-2">
    <div class="col-12">
        <label class="align-middle font-weight-bold">Kết quả tính toán:</label>
        <table class="table table-sm table-bordered table-light text-center">
            <thead>
                <tr>
                    <th>Tên mẫu (kí hiệu chén/cốc)</th>
                    <th><span>L<sub>1</sub></span></th>
                    <th><span>L<sub>2</sub></span></th>
                    <th><span>T<sub>1</sub></span></th>
                    <th><span>T<sub>2</sub></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>Kết quả</span></td>
                    <td><input id="result-l1" type="text" class="input-for-form" /></td>
                    <td><input id="result-l2" type="text" class="input-for-form" /></td>
                    <td><input id="result-t1" type="text" class="input-for-form" /></td>
                    <td><input id="result-t2" type="text" class="input-for-form" /></td>
                </tr>
                <tr>
                    <td><span>Kết quả trung bình</span></td>
                    <td colspan="2"><input id="average-results-l" type="text" class="input-for-form" /></td>
                    <td colspan="2"><input id="average-results-t" type="text" class="input-for-form" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="form-row mb-2">
    <div class="col-12">
        <label class="align-middle font-weight-bold">Kết quả báo cáo:</label>
        <textarea id="report-results" class="form-control form-control-sm"></textarea>
    </div>
</div>