
@{
    Layout = null;
}
<div class="form-row mb-2">
    <div class="col-12">
        <label class="align-middle font-weight-bold">Số liệu quan trắc của phép thử:</label>
        <textarea id="monitoring-data" class="form-control form-control-sm" rows="15"></textarea>
    </div>
</div>
<div class="form-row mb-2">
    <div class="col-12">
        <label class="align-middle font-weight-bold">Kết quả báo cáo:</label>
        <textarea id="report-results" class="form-control form-control-sm"></textarea>
    </div>
</div>