
@{
    ViewData["Title"] = "Không có quyền truy cập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center text-danger mt-5">
    <i style="font-size: 30px" class="fa fa-exclamation-triangle"></i>
    <br />
    <span>Truy cập của bạn tới chức năng này bị từ chối</span>
</div>

